.app {
  display: grid;
  grid-template-columns: minmax(151px, auto) 40fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.sidebar-container {
  display: flex;
  grid-row: 1 / -1;
  flex-direction: column;
  width: 20vw;
  min-width: fit-content;
  max-width: 230px;

  background-color: var(--dark-blue);
}

.sidebar-header {
  padding-left: 10px;
  background-image: linear-gradient(-135deg, #00b518aa, #001cb8aa);
  color: var(--light-blue);
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  list-style: none;
}

.link {
  padding: 3px 0;

  font-size: 24px;
  color: var(--gray);
  cursor: pointer;
  text-decoration: none;
  border-top: 1px solid var(--gray);
}

.link:hover {
  background-color: var(--blue);
}

#sidebar-a {
  border-top-style: none;
}

footer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;

  background-color: var(--transparent);
}

footer p {
  font-size: 14px;
}

.content {
  display: flex;
  grid-column: 2 / -1;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0;
}

/* Calculator starts */

.calc-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4fr repeat(5, 3fr);
  grid-gap: 3px;
  width: 300px;
  height: 430px;
}

.calc-display {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px;

  background-color: var(--dark-blue);
  color: white;
}

.calc-display-main {
  font-size: 34px;
}

.calc-display-secondary {
  height: 25px;
  font-size: 22px;
  color: rgb(150, 150, 150);
}

.calc-button {
  background-color: var(--light-blue);
  border-style: none;
}

.calc-button:hover {
  background-color: var(--gray);
}

.span2 {
  grid-column: span 2;
}

.calc-history {
  margin-left: 3px;
  padding: 10px 15px;
  height: 410px;
  max-width: 300px;
  overflow-y: scroll;

  color: white;
  background-color: var(--dark-blue);
}

.calc-history-top > h3 {
  width: 200px;
  letter-spacing: .05em;
}

.calc-history-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.calc-history-clear {
  cursor: pointer;
}

.calc-history-content {
  min-height: 50%;
  width: 100%;

  background-color: var(--light-blue);
}

.calc-history-noContent {
  margin: 0 15px;
  padding-top: 10px;
  font-size: 20px;
  color: var(--dark-blue);
}

.clac-history-calculation {
  margin: 0 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  border-bottom: var(--dark-blue) solid 2px;
}

.clac-history-calculation > p {
  font-size: 20px;
  color: var(--dark-blue);
}

.clac-history-2row {
  font-weight: bold;
}

.calc-historyBtn {
  margin-left: 3px;
  height: 50px;
  width: 40px;

  background-color: var(--light-blue);
  color: var(--dark-blue);
  border-style: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.calc-historyBtn:hover {
  background-color: var(--gray);
}

/* Calculator ends */
/* Home starts */

.home-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-template-rows: auto auto auto;
  grid-auto-flow: dense;
  width: 550px;
  height: fit-content;
  padding: 10px;
  margin: 10px 0;

  color: var(--light-blue);
  border-radius: 10px;
  background-color: var(--dark-blue);
}

.card-container p {
  margin-right: 5px;
}

.card-header {
  color: var(--white);
}

.card-image {
  grid-column: 2;
  grid-row: 1 / -1;
  width: 100%;
  height: 160px;

  background-color: #aaaaaa;
  border-radius: 8px;
}

.card-link {
  padding: 2px 5px;
  width: fit-content;
  height: fit-content;

  border: var(--button-secondary) 2px solid;
  border-radius: 8px;
  color: var(--button-secondary);
  background-color: var(--button-primary);
  font-size: 20px;
  text-decoration: none;
}

.card-link:hover {
  background-color: var(--button-secondary);
  color: var(--button-primary);
}

/* Home ends */
/* About starts */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  max-width: 80%;

  border-radius: 3px;
  background-color: var(--dark-blue);
}

.about-container h2 {
  padding: 15px 5px;

  color: var(--white);
}

.about-container p {
  padding: 5px 10px;

  font-size: 26px;
  color: var(--gray);
}

/* About ends */
/* Lottery starts */

.lottery-container {
  display: grid;
  grid-template-columns: 10fr 6fr;
  grid-template-rows: repeat(7, auto);
  grid-auto-flow: dense;
  height: fit-content;
  margin: 0 30px;
  padding: 10px;

  font-weight: 600;
  background-color: var(--white);
}

.lottery-header {
  font-size: 48px;
  color: var(--white);
}

.lottery-header-container {
  display: flex;
  height: auto;
  grid-column: 1 / -1;
  margin-bottom: 10px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  background-color: var(--lottery-red);
}

.lottery-row {
  grid-column: 1;

  font-weight: inherit;
  color: var(--lottery-red);
}

.lottery-input {
  width: 40px;
  height: 40px;
  margin: 10px;

  color: var(--lottery-red);
  text-align: center;
  border: solid #a9a9a9 2px;
  border-radius: 5px;
}

.lottery-row-header {
  /* font-family: Dela Gorhic One; */
  font-size: 32px;
}

.lottery-result {
  padding: 0 10px;

  color: var(--lottery-red);
  border-left: solid var(--lottery-red) 20px;
  border-right: solid var(--lottery-red) 20px;
}

.lottery-result p {
  font-size: 20px;
}

.lottery-result-border {

  border-bottom: solid var(--lottery-red) 5px;
}

.lottery-lastrow {
  margin-top: 5px;
  padding-top: 5px;

  border-top: solid var(--lottery-red) 5px;
}

.lottery-buttons {
  display: flex;
  justify-content: space-between;
}

.lottery-buttons button {
  padding: 2px 10px;
  border: none;
  background-color: var(--lottery-red);
  color: var(--white);
}

.lottery-buttons button:hover {
  background-color: var(--lottery-red-hover);
}

.lottery-win-numbers {
  padding: 2px 10px;
  margin-top: 5px;
  grid-column: span 2;

  cursor: pointer;
  border: none;
  background-color: var(--lottery-red);
  color: var(--white);
}

.lottery-win-numbers:hover {
  background-color: var(--lottery-red-hover);
}

.lottery-win {
  padding-left: 20px;

  text-decoration: underline;
  color: var(--lottery-red);
}

/* Lottery ends */
/* add task starts */

.newTask-container {
  display: inline-block;
  width: 280px;
  margin-left: 5px;
  height: fit-content;

  background-color: var(--dark-blue);
  border: 3px solid var(--blue-border);
  border-radius: 10px;
  color: var(--gray);
}

.newTask-header {
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: var(--white);
}

.newTask-body li {
  list-style: none;
}

.add-task {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0px 15px 15px 15px;
  font-size: 18px;
}

.add-task div {
  margin-bottom: 10px;
  align-items: end;
}

.form-checkbox {
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"] {
  align-self: center;
  width: 15px;
  height: 15px;
  cursor: pointer;

  accent-color: var(--dark-blue);
}

input[type="checkbox"]:checked::before {
  border-style: solid;
}

input[type="text"] {
  width: 100%;

  cursor: text;
  border-radius: 2px;
  border-style: solid;
  border-color: var(--blue-border);
  background-color: var(--dark-blue);
  color: var(--white);
}

.submit {
  height: 20px;

  cursor: pointer;
  background-color: var(--button-primary);
  color: var(--button-secondary);
  border-style: none;
  border-radius: 3px;
  font-size: 18px;
}

.submit:hover {
  background-color: var(--button-secondary);
  color: var(--button-primary);
}

/* add task ends*/
/* Task manager starts */

.tasks-container {
  width: 500px;
  max-height: 70vh;

  background-color: var(--blue);
  border: 2px var(--blue-border) solid;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-color: var(--blue-border);
}

.task-container {
  margin: 10px 20px;
  border-radius: 2px;

  background-color: var(--gray);
  color: var(--white);
}

.task-container h3 {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-container p {
  padding: 0 5px;
  color: var(--dark-blue);
}

.task-delete,
.task-delete svg {
  cursor: pointer;
  height: 25px;
  width: 25px;

  border: none;
  background-color: #00000000;
  color: var(--white);
}

.no-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  background-color: dimgray;
  border-radius: 10px;
  color: var(--white);
}

.reminder {
  border-left: 5px greenyellow solid;
}

.timeNow-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: fit-content;
  height: fit-content;
  padding: 10px;

  border-radius: 5px;
  color: var(--gray);
  background-color: var(--blue);
}

.timeNow-header {
  color: var(--white);
}

.timeNow-city p {
  font-size: 22px;
}

#timeNow-dropdown,
#timeNow-dropdown option {
  font-size: 22px;
  background-color: var(--light-blue);
}

.timeNow-time {
  grid-column: 2;
  grid-row: 1 / -1;
  align-self: center;
  margin: 0 20px;
  padding: 5px 10px;

  font-size: 44px;

  border-radius: 10px;
  background-color: var(--light-blue);
  color: var(--dark-blue);
}